<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="%PUBLIC_URL%/logo.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/home/homeFirstSection.css">
    <link rel="stylesheet" href="./css/home/whatWeDo.css">
    <link rel="stylesheet" href="./css/home/freelancing.css">
    <link rel="stylesheet" href="./css/home/contributers.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>Pixosite</title>
</head>
<body>


    <%- include('./partials/home/homeFirstSection') %>
    <%- include('./partials/home/whatWeDo') %>
    <%- include('./partials/home/freelancing') -%>
    <%- include('./partials/home/contributers') -%>
    <%- include('./partials/footer') -%>
    <%- include('./partials/header') -%>


    <script src="./js/header.js"></script>
    <script src="./js/home.js"></script>
    <script src="./js/footer.js"></script>
</body>
</html>